<% if params[:kind]%>
  <h1>Browsing <%= params[:kind]%></h1>
<% else %>
  <h1>Browsing All Plants</h1>
<% end %>

<% @plants.each do |p|%>
  <div='plant'>
    <h3><%= link_to p.name, plant_path(p) %></h3>
  </div>
<% end %>
<hr>
<div id="addNew">
  <h3>Got something new to share? <a href="<%= new_plant_path%>" id="new_plant">Click here to add a plant!</a></h3>
</div>

<%= button_to "Log Out", logout_path %>
