<ul id="gardensList">
<% @gardens.each do |garden|%>
  <li>
    <%= garden.name %>
  </li>
<% end %>
</ul>
<hr>
<h2>Make a New Garden</h2>
<%= form_for(@garden, :url => user_gardens_path(@current_user)) do |g|%>
  <%= g.text_field :name %><br>
  <%= g.submit %>
<% end %>
